body{
    font-family: 'Roboto',sans-serif;
    color: #212121;
}
:root{
    --white-color:#fff;
    --black-color: #212121;
    --blue-color: #2196f3;
    --grey-color: #757575;
    --blue-background-color: #2196f3;
    --darkblue-background-color: #2F303A;
    --lightdrey-background-color: #F5F4FA;
    
}
ul{
    list-style-type: none;
}
/* hat */
.hat{
    background-color: var(--darkblue-background-color);
}
.hat-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: var(--white-color);
}



.task{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.task-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey-color);
}


.professions{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}


.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.profession{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--grey-color);
}

/* header */
.logo{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
span{
    color: var(--black-color);
}

.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
   
}
.nav .nav-link{
    color: var(--black-color);
}
.nav .nav-link:hover{
    color: var(--blue-color);
}
.nav .nav-link:focus{
    color: var(--blue-color);
}


.contacts{
    text-decoration: none;
}
.contact{
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}
.contacts .contact{
color: var(--grey-color);
}
.contacts .contact:hover{
    color: var(--blue-background-color);
}
.contacts .contact:focus{
    color: var(--blue-background-color);
}
/* buttons */
.btn{
line-height: 26px;
 font-weight: 500;
 font-size: 16px;
 cursor: pointer;
 background-color: var(--lightdrey-background-color); 
 border: none;
}
.btn{
    color: var(--black-color);
}
 .btn:hover{
    color: var(--white-color);
    background-color: var(--blue-background-color);
}
 .btn:focus{
    color: var(--white-color);
  background-color: var(--blue-background-color);
}


/* section */


.title{
    line-height: 36px;
    font-weight: 700;
    font-size: 18px;
}
.suptitle{
    line-height: 36px;
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-color);
}

/* footer */
.footer{
background-color: var(--darkblue-background-color);
}
.address{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--white-color);
    
}
.footer-logo{
    color: var(--white-color);
}